.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.2);
    background-color: rgb(5, 10, 48);
    padding: 10px;
    transition: background-color 0.3s ease;
}

.header:hover {
    background-color: rgb(8, 14, 70);
}

.header h1 {
    color: white;
}

.header-links {
    padding: 10px;
    text-align: right;
    font-family: 'Franklin Gothic Medium';
}

.header-links a {
    text-decoration: none;
    font-size: large;
    padding: 10px;
    color: white;
    transition: color 0.3s ease;
}

.header-links a:hover {
    color: #00d1b2;
}
